* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
  color: white;
  padding: 10px;
}
.props{
  display: flex;
  flex-direction: column;
  align-items: center;
}
button{
  
 width: 50%;
border-radius: 5px;
border-color: grey;
background-color: rgb(221,58,76);
color: white;
}
button:hover{
  box-shadow: 1px 1px 1px 1px gray;
  transform: scale(1.02,1); 
  transition: 0.2s linear;
}

.navbar_margin {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media(min-width:360px) and (max-width:414px) {
  .navbar {
    width: 100vw;
  }

  .navbar_margin {
    width: 95%;
    margin-right: 20px;
  }
}